<!DOCTYPE html>
<html data-ng-app="samples">
<head>
    <title>AngularJS Demos</title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="styles/styles.css" rel="stylesheet" />
</head>
<body data-ng-controller="mainController">
    <h2> Angular Fundamental's </h2>
    <div class="row">
        <div class="span4 section">
            <h5>Demos:</h5>
            <ol>
                <li data-ng-repeat="page in pages">
                    <a href="{{href}}" data-ng-click="loadPage(page)">{{ page.title }}</a>
                </li>
            </ol>
        </div>
        <div class="span8">
            <ng-include src="template"></ng-include>
            <!-- <div id="sampleContent"></div> -->
            <br />
            <div class="container">
                <h4>Code:</h4>
                <textarea></textarea>
            </div>
        </div>
    </div>
  
    <script src="Scripts/jquery.min.js"></script>    
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="app/controllers/main.js"></script>
</body>
</html>
